@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");


main {
    min-width: 200px;
    margin: auto;
    background-color: white;
    padding: 40px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-radius: 4px;
    text-align: center;


}

.errorbox {
    text-align: right;
    margin-top: 100px;
}

* {
    font-family: 'Source Sans Pro', sans-serif;
}

fieldset{
    border: 0;
}

#next, #submit, #searchagain {
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
    margin-right: 0px;
    background-color: dodgerblue;
    width: 70%;
    border: 0px;
    border-radius: 4px;
    padding: 4px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border: 1px solid lightgray;
}

#next:disabled, #submit:disabled {
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
    background-color: white;
    color: dodgerblue;
    cursor: default;
}

button {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    cursor:pointer;
}

.animated {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
 }
 
 @-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
 
 @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
 
 .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
 }


h1 a {
    font-size: 3rem;
    line-height: 3.5rem;
    padding: 5px;
    text-decoration: none;
    color: dodgerblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    font-style: italic;
}

.loader {
    border: 8px solid lightgray; /* Light grey */
    border-top: 8px solid dodgerblue; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 20px;
    display: inline-block;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.headerfont {
    font-style: normal;
    font-weight: bold;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    margin-bottom: 15px;
}

.disclaimer {
    font-size: .7rem;
    margin-top: 0px;
    text-align: center;
}

h2 {
    font-size: 1.6rem;
    line-height: 2rem;
    text-align: left;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 10px;
    margin-top: 3px;
    color: rgb(110, 110, 110);
}

#submit, #next, #prev, #back {
    margin: 5px;
    padding: 10px;
    margin-right: -10px;
    cursor:pointer;
}

.loading {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-left: 7px;
}


.tags-div {
    max-height: 200px;
    z-index: 100;
    max-width: 300px;
    margin-right: 20px;
    position: relative;
}


p{
    text-align: left;
    font-size: 1rem;
    margin-top: 0px;
}

.main-pic {

    margin: 20px auto;
    margin-left: 0px;
    width: 250px;
    height: 300px;
    border-bottom: 1px solid black;
    text-align: center;
}

.fade-enter {
    opacity: 0.01;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in ;
}

.fade-leave {
    opacity: 1;
  }
  
.fade-leave.fade-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in-out 300ms;
  }



.transition-group {
    position: relative;
}

.transition-container {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.results-pic {
    margin: 20px;
    margin-left: 0px;
    width: 250px;
    height: 300px;
    border-bottom: 1px solid black;
    z-index: 0;
    position: relative;
}

.bottom-buttons {
    clear: left;
    display: block;
    width: 100%;
    text-align: left;
    padding-top: 30px;

}

.button-block {
    display: block;
}

#symptoms-list {
    display: block;
    margin: 20px;
    padding: 5px;
}

section {
    padding: 20px;
    padding-top: 0px;
}

.transition-effects-div {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

legend {
    text-align: left;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.5rem;
    padding-top: 15px;
    padding-bottom: 5px;
}

form span {
    cursor: pointer;
}

.individual-symptom {
    margin:4px;
    background-color: azure;
    border-radius:4px;
    overflow:auto;
    float:left;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

.individual-symptom label {
    float:left;
    padding: 5px;
    margin: 5px;
}

.individual-symptom label span {
    text-align:center;
    display:block;
    font-size: .9rem;
}

.individual-symptom input {
    position: absolute;
    display: none;
}


.individual-symptom input:checked {
    width: 100px;
}

.bunko {
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
    background-color: dodgerblue;
    color: white;
}

h3 {
    color: dodgerblue;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: 'uppercase';
    text-align: left;
    padding-bottom: 10px;
    margin-bottom: 0px;
    font-size: 1.1rem;
    text-transform: uppercase;

}

fieldset p {
    margin-top: 0px;
}

.result-symptoms{
    padding: 10px;
    margin: 3px;
    line-height: 3rem;
    background-color: dodgerblue;
    color: white;
    border-radius: 4px;
    font-size: .9rem;
}

.italics {
    font-style: italic;
}

h2{
    text-align: center;
    text-align: left;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}

h1 {
    padding: 0px;
    margin: 0px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: left;
    color: dodgerblue;
}

h4 {
    color: dodgerblue;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: 'uppercase';
    text-align: left;
    padding-bottom: 10px;
    margin-bottom: 0px;
    font-size: 1.1rem;
    text-transform: uppercase;
}

.disclaimer {
    margin-top: 10px;
    margin-bottom: 10px;
}



@media only screen and (min-width: 800px){
    main {
        max-width: 700px;
        min-height: 540px;
        margin-top: 40px;
        margin-bottom: 40px;
        border: 1px solid lightgray;
    }

    .main-info {
        display: flex;
    }


    .main-pic {
        padding: 0;
        margin: 0;
        width: 350px;
        margin-left: -50px;
        margin-top: 28px;
        margin-bottom: -34px;
        height: 420px;
        border: 0px;
    }


    .disclaimer {
        margin-top: 30px;
        margin-bottom: 0px;
    }

    .results-pic {
        padding: 0;
        margin: 0;
        width: 360px;
        margin-left: -50px;
        margin-top: 0px;
        margin-bottom: -34px;
        height: 420px;
        border: 0px;
    }

    .loader{
        margin-top: 150px;
        margin-left: 115px;
    }

    .results-description {
        padding-top: 25px;
        padding-bottom: 25px;
    }
  

    .gramps-form-container, .results-description {
        padding-left: 30px;
    }

    input, #symptoms-list, #symptoms-display {
        margin-left: 0px;
    }

    fieldset {
        padding-left: 0px;
    }

    html {
        background: aliceblue;
    }

}